{% block tr_e_widget_data_preview %}
    <div class="tr-e-widget-data-preview">
        <h4 class="tr-e-widget-data-preview-headline">{{ $tc('global.cms.elements.tr-widget-data.label') }}</h4>
        
        <div class="tr-e-widget-data-preview-inner">
            <sw-icon name="default-action-tags" size="40"></sw-icon>
        </div>
    </div>
{% endblock %}

