{% block tr_e_slider %}
    <div class="tr-e-slider">
        {% block tr_e_slider_img %}
            <div class="tr-e-slider__image-box">
                <img class="tr-e-slider__image" :src="imgSrc">
            </div>
        {% endblock %}
    </div>
{% endblock %}
