<body>
<div class="cr-loader-container">
    <div class="cr-loader-big">
        <span class="cr-loader"></span>
    </div>

    <div class="cr-connecting">
        Connecting...
    </div>
</div>
</body>
