{% block tr_e_widget_preview %}
    <div class="tr-e-widget-preview">
        <h4 class="tr-e-widget-preview-headline">{{ $tc('global.cms.elements.tr-widget.label') }}</h4>
        
        <div class="tr-e-widget-preview-inner">
            <sw-icon name="default-action-bookmark" size="40"></sw-icon>
        </div>
    </div>
{% endblock %}

