{% block tr_widgetbox13_preview %}
    <div class="tr-widgetbox13-preview">
        <div class="tr-widgetbox13-preview__contacts">
            <span>+123(45)</span>
            <span>mail@com</span>
            <span>Ask a Question</span>
        </div>
        <div class="tr-widgetbox13-preview__widget">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div class="tr-widgetbox13-preview__widget">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div class="tr-widgetbox13-preview__widget">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
