<div class="checkout-aside-action">
    <form id="confirmOrderForm"
          action="{{ path('frontend.checkout.finish.order') }}"
          data-form-csrf-handler="true"
          data-form-preserver="true"
          data-form-submit-loader="true"
          method="post">

        {% block page_checkout_aside_actions_csrf %}
            {{ sw_csrf('frontend.checkout.finish.order') }}
        {% endblock %}

        {% block page_checkout_confirm_form_submit %}
            <button id="confirmFormSubmit"
                    class="btn btn-primary btn-block btn-lg"
                    form="confirmOrderForm"
                {% if page.cart.errors.blockOrder %}
                    disabled
                {% endif %}
                    type="submit">
                {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
            </button>
        {% endblock %}
    </form>
</div>
