{% block sw_cms_element_tr_e_feed_preview %}
    <div class="tr-e-feed-preview">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <h5>Lorem Ipsum</h5>
    </div>
{% endblock %}
