{% block tr_listing_headline_preview %}
    <div class="tr-listing-headline-preview">
        <div class="tr-listing-headline-preview__links">
            <span class="link">Link</span>
            <span class="link">Link</span>
            <span class="link">Link</span>
        </div>
        
        <div class="tr-listing-headline-preview__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
        </div>
    </div>
{% endblock %}
