{% block tr_e_slider_preview %}
    <div class="tr-e-slider-preview">
        <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
    </div>
{% endblock %}
