{% block tr_widget_data_component %}
    <div class="tr-widget-data-component">
        <div class="tr-widget-data-component-data">
            <slot name="data"></slot>
        </div>
    </div>
{% endblock %}
