{% block tr_widgetbox4_preview %}
    <div class="tr-widgetbox4-preview">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
