{% block sw_cms_element_tr_e_title_component %}
    <div class="tr-e-title-component">
        <div v-if="element.config.title.value" class="tr-e-title-component__title">{{ element.config.title.value }}</div>
        <div v-else class="tr-e-title-component__title">{{ $tc('global.cms.elements.tr-title.label') }}</div>
    </div>
{% endblock %}
