{% block tr_links_preview %}
    <div class="tr-links-preview">
        <div class="tr-links-preview__inner">
            <h5>{{ $tc('global.cms.blocks.tr-links.label') }}</h5>
            <span class="link">Link</span>
            <span class="link">Link</span>
            <span class="link">Link</span>
        </div>
    </div>
{% endblock %}
