{% block tr_widgetbox4_component %}
    <div class="tr-widgetbox4-component">
        <div class="tr-widgetbox4-component-box1">
            <slot name="box1">{% block sw_cms_block_tr_widgetbox4_component_box1 %}{% endblock %}</slot>
        </div>
        
        <div class="tr-widgetbox4-component-box2">
            <slot name="box2"></slot>
        </div>
        
        <div class="tr-widgetbox4-component-box3">
            <slot name="box3"></slot>
        </div>
        
        <div class="tr-widgetbox4-component-box4">
            <slot name="box4"></slot>
        </div>
    </div>
{% endblock %}
