{% block tr_widget_data_preview %}
    <div class="tr-widget-data-preview">
        <span class="tr-widget-data-preview__data">{{ $tc('global.cms.elements.tr-widget-data.labels.targetSource') }}</span>
    </div>
{% endblock %}
