{% block tr_e_products_component %}
    <div class="tr-e-products-component">
        {% block tr_e_products_component_title %}
            <div class="tr-e-products-component__title" v-if="element.config.title.value">
                {{ element.config.title.value }}
            </div>
        {% endblock %}

        {% block tr_e_products_component_content %}
            <div class="tr-e-products-component__content">
                
                {% block tr_e_products_component_product_holder %}
                    <div class="tr-e-products-component__product-holder" ref="productHolder">
                        <template v-if="!element.data || !element.data.products">
                            {% block tr_e_products_component_demo_data %}
                                <sw-cms-el-product-box :element="demoProductElement"
                                                       v-for="index in 2"
                                                       :key="index">
                                </sw-cms-el-product-box>
                            {% endblock %}
                        </template>

                        <template v-else>
                            {% block tr_e_products_component_products %}
                                <sw-cms-el-product-box v-for="(product, index) in element.data.products"
                                                       :key="product.id"
                                                       v-if="index < 2"
                                                       :element="getProductEl(product)">
                                </sw-cms-el-product-box>
                            {% endblock %}
                        </template>
                    </div>
                {% endblock %}
                
            </div>
        {% endblock %}
    </div>
{% endblock %}
