<div style="font-family:arial; font-size:12px;">
    <p><strong>Dear {{ order.orderCustomer.firstName }} {{ order.orderCustomer.lastName }},</strong><br/><br/></p>
    <p>You took your time and rated our products.<br /></p>
    <p>We would like to thank you with a shopping <strong>voucher</strong>.<br/></p>
    <p style="color:#81bb44; font-size:24px; font-family:Verdana, Arial, sans-serif;"><span style="color:#4d4d4d">Coupon Code:</span> {{ tanmarProductReviews.coupon }}</p>
    <p><br /></p>	
</div>