{% sw_extends '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' %}

{% block element_sidebar_filter %}
    {% set config = element.fieldConfig.elements %}
    {% set slot = page.cmsPage.firstElementOfType('product-listing') %}

    <div class="container">
        <div class="cms-element-sidebar-filter">
            {% block element_product_listing_filter_button %}
            {% endblock %}

            {% block element_sidebar_filter_panel %}
                <div id="filter-panel-wrapper"
                     class="filter-panel-wrapper"
                     data-offcanvas-filter-content="true">
                    {% sw_include '@Storefront/storefront/component/listing/filter-panel.html.twig' with {
                        listing: slot.data.listing,
                        sidebar: block.sectionPosition == 'sidebar'
                    } %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
