{% block tr_widgetbox13_component %}
    <div class="tr-widgetbox13-component">
        <div class="tr-widgetbox13-component-box1">
            <slot name="contacts"></slot>
        </div>
        
        <div class="tr-widgetbox13-component-box2">
            <slot name="box1"></slot>
        </div>
        
        <div class="tr-widgetbox13-component-box3">
            <slot name="box2"></slot>
        </div>
        
        <div class="tr-widgetbox13-component-box4">
            <slot name="box3"></slot>
        </div>
    </div>
{% endblock %}
